body {
  margin: 0;
  font-family: "VCR OSD Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020024;
  color: #ddd;
}

code {
  font-family: "VCR OSD Mono", monospace;
}
/*home forecast*/
.music-controls {
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 10;
}

.music-icon {
  font-size: 24px;
  cursor: pointer;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.weather-card {
  margin-top: 50px;
  background-color: rgba(61, 59, 59, 0.199);
  border: 2px solid #54a832;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 470px;
}

.weather-card__current {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.weather-details {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  text-align: center;
}

.weather-icon {
  text-align: center;
}

.icon-large {
  width: 100px;
  height: 100px;
}

.weather-card__next-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.weather-next-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  text-align: center;
}

.weather-next-icon {
  text-align: center;
}

.icon-next-large {
  width: 100px;
  height: 100px;
}



/*end of weather forecast style*/


/* mao ni ang navigation style */
.custom-nav .collapse{
  justify-content: flex-end;
}
/* end */

/* Login */
.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.login {
  min-height: 100vh;
  align-items: center;
}
.login h2 {
  color: honeydew;
  font-size: 36px;
  font-weight: bold;
}

.login h6 {
  margin-top: 15px;
}
/* End */

/* Register */

.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.register {
  min-height: 100vh;
  align-items: center;
  z-index: 0;
}


/* End */